pandas
numpy
joblib
transformers
scikit-learn
#torch
python-dotenv
#openpyxl
#pyyaml

openai
google-genai

langchain
#langchain-community
#langchain-core
#langchain-text-splitters
langchain-nvidia-ai-endpoints
langchain-google-genai
langchain_openai
langchain-mongodb

pymongo

fastapi
uvicorn
pydantic

xgboost
lightgbm