pandas
numpy
joblib
transformers
scikit-learn
torch
python-dotenv
openpyxl

openai
google-genai

langchain
langchain-community
langchain-core
langchain-google-genai
langchain-nvidia-ai-endpoints
langchain_openai
langchain-text-splitters
langchain-mongodb

pymongo

faiss-cpu

fastapi
uvicorn
pydantic

xgboost
lightgbm